<div
  [style]="{ position: 'relative', height: height, width: width }"
  (mouseenter)="showHideMagnifier(true)"
  (mouseleave)="showHideMagnifier(false)"
>
  <img
    [src]="src"
    [style]="{ height: height, width: width, cursor: 'zoom-in' }"
    (mousemove)="mouseMove($event)"
    alt="img"
  />
  <div
    #lensRef
    class="lens"
    [style.display]="showMagnifier ? 'block' : 'none'"
    [style]="{
      position: 'absolute',
      pointerEvents: 'none',
      top: y + 'px',
      left: x + 'px',
      width: lensWidth + 'px',
      height: lensHeight + 'px'
    }"
  ></div>
</div>
