ul {
  margin: 0;
  padding: 16px 0px;
  display: flex;
  gap: 1rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: 100;
  align-items: center;
  flex-wrap: wrap;
  li {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
a {
  cursor: pointer;
  color: inherit;
  transition: all 250ms ease-in-out;

  // background: #e2e2e2;
  // padding: 0px 10px;
  // border-radius: 4px;
  &:hover {
    color: var(--title-color);
    // font-weight: var(--font-medium);
  }
}
